.header {
  border-bottom: 1px solid white;
  a {
    color: white;
  }
  &__weight {
    width: 140px;
    @media (min-width: 600px) {
      width: 200px;
    }
  }
}

.header__reverse {
  border-color: white;
  background-color: black;
}
