.header {
  border-bottom: 1px solid white;
  a {
    color: white;
  }
  &__weight {
    width: 200px;
  }
}

.header__reverse {
  border-color: white;
  background-color: black;
}

.header__reverse a {
  color: white;
  font-size: 1.1rem;
}
